@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrapper {
    width: 800px;
    margin: 0 auto;
}